{
  "root": true,
  "rules": {
    "no-param-reassign": ["error", { "props": false }],
    "indent": ["error", 2, { "MemberExpression": 2, "SwitchCase": 1 }]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "extends": "airbnb/base"
}
